@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");

body {
  font-family: "DM Sans", sans-serif;
}

.zoomed{
  zoom: 0.90; 
  -moz-transform: scale(0.90); 
  -moz-transform-origin: 0 0;
}

.wrap {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.social-button {
  width: 29%;
  margin: 2%;
  padding: 3%;
  /* float: left; */
}

.social-button-preview {
  width: 28%;
  margin: 2%;
  padding: 1%;
  /* float: left; */
}

.social-label {
  font-size: 1rem;
}


.btn-custom-dark-background {
  height: auto;
  min-height: var(--chakra-sizes-12) !important;
  font-size: var(--chakra-fontSizes-lg) !important;
  background-color: black !important;
  color: white !important;
  border-radius: 10px !important;
  padding: 15px 20px !important;
}

.btn-custom-danger-background {
  height: auto;
  min-height: var(--chakra-sizes-12) !important;
  font-size: var(--chakra-fontSizes-lg) !important;
  background-color: #c40303 !important;
  color: white !important;
  border-radius: 10px !important;
  padding: 15px 20px !important;
}

.btn-custom-white-background {
  height: auto;
  border: gray solid 1px;
  min-height: var(--chakra-sizes-12) !important;
  font-size: var(--chakra-fontSizes-lg) !important;
  background-color: white !important;
  color: black !important;
  border-radius: 10px !important;
  padding: 15px 20px !important;
}

.social-btn-container {
  width: 80%;
  margin: 0 auto;
  overflow: auto;
}

.custom-phone-iframe {
  display: block;
}

@media only screen and (max-width: 500px) {
  /* body{
    zoom: 0.85; 
    -moz-transform: scale(0.85); 
    -moz-transform-origin: 0 0;
  } */
  .zoomed{
    zoom: 1; 
    -moz-transform: scale(1); 
    -moz-transform-origin: 0 0;
  }

  .social-button {
    width: 29%;
    margin: 2%;
    margin-bottom: 0;
    padding: 3%;
    padding-bottom: 0;
  }

  .btn-custom-dark-background {
    font-size: 4vmin !important;
  }

  .edit-profile-container {
    padding: 5px !important;
  }

  .social-btn-container {
    width: 100%;
  }

  .main-page-container {
    /* -webkit-margin-start: auto; */
    /* margin-inline-start: auto; */
    /* -webkit-margin-end: auto; */
    /* margin-inline-end: auto; */
    padding: 5px !important;
    -webkit-padding-end: 5px !important;
    padding-inline-end: 5px !important;
    padding-top: 0 !important;
  }

}

.cursor-grab>* {
  cursor: grab;
}

@media only screen and (max-width: 400px) {

  .social-label {
    font-size: 4.5vmin;
  }

}


@media only screen and (max-width: 959px) {

  .hide-under-959 {
    display: none;
  }

  .view-profile-btn{
    margin-top: 20px;
    margin-bottom: 100px;
  }

}

option {
  color: black;
}

.custom-dark-background {
  height: var(--chakra-sizes-12) !important;
  font-size: var(--chakra-fontSizes-lg) !important;
  background-color: #212121 !important;
  color: white !important;
  border-radius: 10px !important;
  padding: 15px 20px !important;
}

.tab-custom {
  padding: 5px !important;
  width: 200px;
  border-bottom: 0 !important;
  margin-bottom: 0 !important;
  background-position: center !important;
  background-size: 100% 100% !important;
  background-repeat: no-repeat !important;
  background-image: url("../../../public/static/media/tab-active.png") !important;
  color: white !important;
}

.tab-custom[aria-selected=true] {
  background-image: url("../../../public/static/media/tab.png") !important;
  color: black !important;
}

.height-none {
  height: initial !important;
}

.btn-custom-dark-background:hover {
  /* box-shadow:#cdcdcd 10px 10px 10px; */
  background-color: #565353 !important;
}

.custom-sidebar-link {
  margin-bottom: 10px !important;
  padding: 5px 20px !important;
  border-radius: 10px !important;
}

.custom-sidebar-link:hover {
  background-color: #f4f4f4 !important;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  /* for Internet Explorer, Edge */
  scrollbar-width: none;
  /* for Firefox */
  overflow-y: scroll;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
  /* for Chrome, Safari, and Opera */
}

.profileview-cover {
  height: '20%';
}

.Icontap-black-btn {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
  outline: 0;
  border: 0;
  margin: 0;
  border-radius: 0;
  padding: 0;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-text-decoration: none;
  text-decoration: none;
  color: inherit;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.75;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  min-width: 64px;
  padding: 6px 16px;
  border-radius: 4px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  color: #fff;
  background-color: #000;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  border-radius: 16px;
  height: 67px;
  font-weight: bold;
  box-shadow: rgb(128 128 128 / 35%) 0px 4px 5.84px;
  padding-top: 7px;
  text-transform: capitalize;
  font-size: 18px;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 260px;
  width: 80%;
}

.Icontap-white-btn {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
  outline: 0;
  border: 0;
  margin: 0;
  border-radius: 0;
  padding: 0;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-text-decoration: none;
  text-decoration: none;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.75;
  text-transform: uppercase;
  min-width: 64px;
  padding: 6px 8px;
  border-radius: 4px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  color: black;
  max-width: 260px;
  width: 80%;
  height: 45px;
  box-shadow: rgb(0 0 0 / 20%) 0px 2px 12px;
  padding: 8px 12px;
  border-radius: 33px;
  text-transform: none;
  font-size: 16px;
}

.Icontap-copyright {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.43;
  text-align: center;
  color: #000;
  margin-bottom: 20px;
  margin-top: 4px;
  margin-right: 4px;
}

.tooltip .tooltiptext {
  visibility: hidden;
  /* width: 120px; */
  background-color: #555;
  color: #fff;
  /* text-align: center; */
  border-radius: 6px;
  /* padding: 5px 0; */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  /* margin-left: -5px; */
  border-width: 5px;
  border-style: solid;
  /* border-color: #555 transparent transparent transparent; */
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
  width: auto;
  padding: 5px 10px;
}

.tooltiptext {
  visibility: hidden;
  width: 0;
  padding: 0;
}

div.ext-box {
  display: table;
  width: 75%;
  padding-top: 15%;
  float: left;
}

div.int-box {
  display: table-cell;
  vertical-align: middle;
}


.draggable-social-hnd {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 6%;
}

.draggable-social-img {
  width: 15%;
  padding-top: 15%;
  margin-right: 30px;
  margin-top: 2.5%;
}

.draggable-social-edit {
  margin: 5%;
  width: 10%;
  padding-top: 10%;
}

@media only screen and (max-width: 500px) {
  .draggable-social-hnd {
    width: 25%;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 6%;
  }
  
  .draggable-social-img {
    margin-top: 0;
    width: 20%;
    padding-top: 20%;
    margin-right: 15px;
  }

  .draggable-social-edit {
    margin: 2.5%;
    width: 15%;
    padding-top: 15%;
  }
}

@media only screen and (min-width: 960px) {
  .custom-tab-panel {
    padding: 30px !important;
    background-color: white !important;
    border-radius: 30px !important;
  }

  .tab-cols {
    height: 95vh;
    overflow: auto;
    -ms-overflow-style: none;  
    scrollbar-width: none;  
  }

  .tab-cols::-webkit-scrollbar {
    display: none;
  }
}

